templates/address.html
templates/financial_goal.html
templates/financial_knowledge.html
templates/identification.html
templates/pre_inversor.html
templates/risk_tolerance.html
templates/savings_capacity.html
templates/perfil.html
static/images/